@using SubashaVentures.Components.Shared.Buttons
@using SubashaVentures.Components.Shared.Burgers
@inject INavigationService NavService
@implements IDisposable

<div class="top-navigation">
    <!-- Left: Brand Logo  -->
    <div class="nav-left">
        <BrandLogo />
    </div>  

    <!-- Middle: Filler Space -->
    <div class="nav-middle"></div>

    <!-- Right: Burger Menu Only -->
    <div class="nav-right">
        <div class="nav-burger">
            <BurgerMenu IsOpen="@isSidePanelOpen" 
                       IsOpenChanged="@HandleBurgerToggle" />
        </div>  
    </div>
</div>

@code {
    private bool isSidePanelOpen = false;

    protected override void OnInitialized()
    {
        NavService.SidePanelStateChanged += OnSidePanelStateChanged;
        isSidePanelOpen = NavService.IsSidePanelOpen;
    }

    private void OnSidePanelStateChanged(object? sender, bool isOpen)
    {
        isSidePanelOpen = isOpen;
        StateHasChanged();
    }

    private async Task HandleBurgerToggle(bool isOpen)
    {
        NavService.SetSidePanelState(isOpen);
        await Task.CompletedTask;
    }

    public void Dispose()
    {
        NavService.SidePanelStateChanged -= OnSidePanelStateChanged;
    }
}
