@page "/user/offers"
@layout UserLayout
@using SubashaVentures.Layout.User
@using SubashaVentures.Components.Shared.Overlays

<div class="offers-page">
    <ComingSoonCover 
        Title="Offers & Deals"
        Message="We're working on bringing you exclusive promotions, flash deals, and loyalty rewards. Check back soon!"
        ShowBackButton="true"
        BackButtonText="Back to Dashboard"
        BackButtonUrl="user" />
</div>
