@* BurgerMenu.razor *@
<div class="burger-menu-container">
    <input type="checkbox" 
           id="ck-burger"
           checked="@IsOpen"
           @onchange="HandleToggle" />
    <label for="ck-burger" class="burger-toggle">
        <div class="bar bar--top"></div>
        <div class="bar bar--middle"></div>
        <div class="bar bar--bottom"></div>
    </label>
</div>

@code {
    [Parameter] public bool IsOpen { get; set; } = false;
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    private async Task HandleToggle(ChangeEventArgs e)
    {
        if (e.Value is bool value)
        {
            IsOpen = value;
            await IsOpenChanged.InvokeAsync(IsOpen);
        }
    }
}
